<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dict.dao.DepartmentsDao">
  	<insert id="insert" parameterType="List">
  		
			insert into departments(department_id,dept_name,tax_id,dept_upper_halo,dept_lower_halo,
			dept_preset,dept_keynumber,dept_keylabel,dept_unit,dept_number,dept_level,dept_status,dept_managed_by,
			dept_usage)
			values
			<foreach collection="list" item="departments" index="i"  separator="," >
			(#{departments.department_id},#{departments.dept_name},#{departments.tax_id},
			#{departments.dept_upper_halo},#{departments.dept_lower_halo},#{departments.dept_preset},
			#{departments.dept_keynumber},#{departments.dept_keylabel},#{departments.dept_unit},
			#{departments.dept_number},#{departments.dept_level},#{departments.dept_status},
			#{departments.dept_managed_by},#{departments.dept_usage})
		</foreach>
  	</insert>
</mapper>
