<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dict.dao.DictVirtualGoodsStatusDao">
  	<insert id="insert" parameterType="List">
			insert into DICT_VIRTUAL_GOODS_STATUS(ID,TEXT,ENGLISH,ICONURL)
			values
			<foreach collection="list" item="dictAccountStatus" index="i"  separator="," >
			(#{dictAccountStatus.id},#{dictAccountStatus.text},
			#{dictAccountStatus.english},#{dictAccountStatus.iconurl})
		</foreach>
  	</insert>
</mapper>