<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.AttendantDao">
  	<insert id="insert" parameterType="List">
  		
			replace into Attendant(Attendant_ID,Attendant_Name,Attendant_Logon_ID,
			Attendant_Number,Attendant_Password,Attendant_Disabled,Attendant_Blocked_Reason,
			Warning_Level,Alarm_Level,Deleted,Attendant_Tag_ID,Attendant_Tag_Active,Safedrop_Alert_Level)
			values
			<foreach collection="list" item="attendant" index="i"  separator="," >
			(#{attendant.attendant_ID},#{attendant.attendant_Name},#{attendant.attendant_Logon_ID},#{attendant.attendant_Number},
			#{attendant.attendant_Password},#{attendant.attendant_Disabled},#{attendant.attendant_Blocked_Reason},#{attendant.warning_Level},
			#{attendant.alarm_Level},#{attendant.deleted},#{attendant.attendant_Tag_ID},#{attendant.attendant_Tag_Active},
			#{attendant.safedrop_Alert_Level})
		</foreach>
  	</insert>
</mapper>
