<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.CashdrawPeriodsDao">
  	<insert id="insert" parameterType="List">
			insert into cashdraw_periods(cdraw_period_id,cashier_id,pos_id,cdraw_open_date,cdraw_close_date,cdraw_period_state)
			values
		<foreach collection="list" item="cashdrawPeriods" index="i"  separator=",">
			(#{cashdrawPeriods.cdrawPeriodId},#{cashdrawPeriods.cashierId},#{cashdrawPeriods.posId},
			#{cashdrawPeriods.cdrawOpenDate},#{cashdrawPeriods.cdrawCloseDate},#{cashdrawPeriods.cdrawPeriodState})
		</foreach>
  	</insert>
</mapper>
