<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.CdrawdeptHistoryDao">
  	<insert id="insert" parameterType="List">
  		
			insert into cdrawdept_history(cdraw_period_id,department_id,cdrawdept_qty_sld,cdrawdept_val_sld,
			cdrawdept_qty_ref,cdrawdept_val_ref,cdrawdept_qty_disc,cdrawdept_val_disc,cdrawdept_qty_surc,
			cdrawdept_val_surc) values
		<foreach collection="list" item="cdrawdeptHistory" index="i" separator=",">
			(#{cdrawdeptHistory.cdrawPeriodId},#{cdrawdeptHistory.departmentId},
			
			#{cdrawdeptHistory.cdrawdeptQtySld},#{cdrawdeptHistory.cdrawdeptValSld},#{cdrawdeptHistory.cdrawdeptQtyRef},
			
			#{cdrawdeptHistory.cdrawdeptValRef},#{cdrawdeptHistory.cdrawdeptQtyDisc},#{cdrawdeptHistory.cdrawdeptValDisc},
			
			#{cdrawdeptHistory.cdrawdeptQtySurc},#{cdrawdeptHistory.cdrawdeptValSurc})
			
		</foreach>
  	</insert>
</mapper>
