<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.CdrawtaxHistoryDao">
  	<insert id="insert" parameterType="List">
			insert into cdrawtax_history(cdraw_period_id,tax_id,cdrawtax_tot_amount,station_id) values 
		<foreach collection="list" item="cdrawtaxHistory" index="i" separator="," >
			(#{cdrawtaxHistory.cdrawPeriodId},#{cdrawtaxHistory.taxId},
			#{cdrawtaxHistory.cdrawtaxTotAmount},#{cdrawtaxHistory.stationId})
		</foreach>
  	</insert>
</mapper>
