<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.CompareDao">
  	<insert id="insert" parameterType="Comparison">
		insert into comparison(day,station_id,cashdraw_periods_count,cashdraw_periods_sum,eftcard_count,
		eftcard_sum,Hose_Delivery_count,Hose_Delivery_sum,transactions_count,transactions_sum,departments_count,
		Grades_count,Hoses_count,products_count) 
		values
		(#{day},#{station_id},#{cashdraw_periods_count},
		#{cashdraw_periods_sum},#{eftcard_count},#{eftcard_sum},#{Hose_Delivery_count},#{Hose_Delivery_sum},
		#{transactions_count},#{transactions_sum},#{departments_count},#{Grades_count},#{Hoses_count},#{products_count})
  	</insert>
</mapper>
