<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.FapiaoTransactionDataDao">
  	<insert id="insert" parameterType="List">
  		
			insert into fapiao_transaction_data(transaction_id,Print_Invoice,customer_code,
			customer_text,station_id)
			
			values
<foreach collection="list" item="fapiaoTransactionData" index="i" separator=",">
			(#{fapiaoTransactionData.transactionId},#{fapiaoTransactionData.printInvoice},#{fapiaoTransactionData.customerCode},
			
			#{fapiaoTransactionData.customerText},#{fapiaoTransactionData.stationId})
		</foreach>
  	</insert>
</mapper>
