<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.HoseDeliveryDao">
  	<insert id="insert" parameterType="List">
			replace into Hose_Delivery(delivery_id,hose_id,attendant_id,price_level,completed_ts,
			cleared_date_time,delivery_type,delivery_state,delivery_volume,delivery_value,
			del_sell_price,del_cost_price,cleared_by,reserved_by,transaction_id,del_item_number,
			delivery2_volume,hose_meter_volume,hose_meter_value,hose_meter_volume2,hose_meter_value2,
			auth_ref,blend_ratio,previous_delivery_type,delivery1_volume,delivery1_value,delivery2_value,
			hose_meter_volume1,hose_meter_value1,grade1_price,grade2_price,station_id)
			
			values
	<foreach collection="list" item="hoseDelivery" index="i"  separator=","  >
			
			(#{hoseDelivery.deliveryId},#{hoseDelivery.hoseId},#{hoseDelivery.attendantId},
			
			#{hoseDelivery.priceLevel},#{hoseDelivery.completedTs},#{hoseDelivery.clearedDateTime},
			
			#{hoseDelivery.deliveryType},#{hoseDelivery.deliveryState},#{hoseDelivery.deliveryVolume},
			
			#{hoseDelivery.deliveryValue},#{hoseDelivery.delSellPrice},#{hoseDelivery.delCostPrice},
			
			#{hoseDelivery.clearedBy},#{hoseDelivery.reservedBy},#{hoseDelivery.transactionId},
			
			#{hoseDelivery.delItemNumber},#{hoseDelivery.delivery2Volume},#{hoseDelivery.hoseMeterVolume},
			
			#{hoseDelivery.hoseMeterValue},#{hoseDelivery.hoseMeterVolume2},#{hoseDelivery.hoseMeterValue2},
			
			#{hoseDelivery.authRef},#{hoseDelivery.blendRatio},#{hoseDelivery.previousDeliveryType},
			
			#{hoseDelivery.delivery1Volume},#{hoseDelivery.delivery1Value},#{hoseDelivery.delivery2Value},
			
			#{hoseDelivery.hoseMeterVolume1},#{hoseDelivery.hoseMeterValue1},#{hoseDelivery.grade1Price},
			
			#{hoseDelivery.grade2Price},#{hoseDelivery.stationId})
		</foreach>
  	</insert>
</mapper>
