<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.HoseHistoryDao">
  	<insert id="insert" parameterType="List">
  		
			insert into hose_history(period_id,hose_id,open_meter_value,close_meter_value,
			postpay_quantity,open_meter_volume,postpay_value,close_meter_volume,postpay_volume,
			postpay_cost,prepay_quantity,prepay_value,prepay_volume,prepay_cost,prepay_refund_qty,prepay_refund_val,
			preauth_quantity,prepay_rfd_lst_qty,preauth_value,prepay_rfd_lst_val,preauth_volume,preauth_cost,
			monitor_quantity,monitor_value,monitor_volume,monitor_cost,driveoffs_quantity,driveoffs_value,driveoffs_volume,
			driveoffs_cost,test_del_quantity,test_del_volume,offline_quantity,offline_volume,offline_value,offline_cost,
			open_mech_volume,close_mech_volume,open_volume_turnover_correction,open_money_turnover_correction,
			close_volume_turnover_correction,close_money_turnover_correction,open_volume_turnover_correction2,
			close_volume_turnover_correction2,hose_vol_disc,hose_val_disc,hose_vol_surc,hose_val_surc)
			
			values
		<foreach collection="list" item="hoseHistory" index="i"  separator=","  >
			(#{hoseHistory.periodId},#{hoseHistory.hoseId},#{hoseHistory.openMeterValue},#{hoseHistory.closeMeterValue},
			
			#{hoseHistory.postpayQuantity},#{hoseHistory.openMeterVolume},#{hoseHistory.postpayValue},#{hoseHistory.closeMeterVolume},
			
			#{hoseHistory.postpayVolume},#{hoseHistory.postpayCost},#{hoseHistory.prepayQuantity},#{hoseHistory.prepayValue},
			
			#{hoseHistory.prepayVolume},#{hoseHistory.prepayCost},#{hoseHistory.prepayRefundQty},#{hoseHistory.prepayRefundVal},
			
			#{hoseHistory.preauthQuantity},#{hoseHistory.prepayRfdLstQty},#{hoseHistory.preauthValue},#{hoseHistory.prepayRfdLstVal},
			
			#{hoseHistory.preauthVolume},#{hoseHistory.preauthCost},#{hoseHistory.monitorQuantity},#{hoseHistory.monitorValue},
			
			#{hoseHistory.monitorVolume},#{hoseHistory.monitorCost},#{hoseHistory.driveoffsQuantity},#{hoseHistory.driveoffsValue},
			
			#{hoseHistory.driveoffsVolume},#{hoseHistory.driveoffsCost},#{hoseHistory.testDelQuantity},#{hoseHistory.testDelVolume},
			
			#{hoseHistory.offlineQuantity},#{hoseHistory.offlineVolume},#{hoseHistory.offlineValue},#{hoseHistory.offlineCost},
			
			#{hoseHistory.openMechVolume},#{hoseHistory.closeMechVolume},#{hoseHistory.openVolumeTurnoverCorrection},#{hoseHistory.openMoneyTurnoverCorrection},
			
			#{hoseHistory.closeVolumeTurnoverCorrection},#{hoseHistory.closeMoneyTurnoverCorrection},#{hoseHistory.openVolumeTurnoverCorrection2},#{hoseHistory.closeVolumeTurnoverCorrection2},
			
			#{hoseHistory.hoseVolDisc},#{hoseHistory.hoseValDisc},#{hoseHistory.hoseVolSurc},#{hoseHistory.HoseValSurc},)
		</foreach>
  	</insert>
</mapper>
