<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.HosesDao">
  	<insert id="insert" parameterType="List">
			replace into Hoses(Hose_ID,Pump_ID,Grade_ID,Tank_ID,Volume_Total,Tank2_ID,
			Hose_number,Mechanical_Total,Money_Total,Theoretical_Total,Volume_Total2,
			Money_Total2,Theoretical_Total2,Blend_Type,Volume_Total_Turnover_Correction,
			Money_Total_Turnover_Correction,Volume_Total2_Turnover_Correction,Volume_Total_State_ID,
			Money_Total_State_ID,Volume_Total2_State_ID,Deleted,Volume_Total1,Money_Total1)
			values
			<foreach collection="list" item="hoses" index="i"  separator="," >
			(#{hoses.Hose_ID},#{hoses.Pump_ID},#{hoses.Grade_ID},#{hoses.Tank_ID},
			#{hoses.Volume_Total},#{hoses.Tank2_ID},#{hoses.Hose_number},#{hoses.Mechanical_Total},
			#{hoses.Money_Total},#{hoses.Theoretical_Total},#{hoses.Volume_Total2},#{hoses.Money_Total2},
			#{hoses.Theoretical_Total2},#{hoses.Blend_Type},#{hoses.Volume_Total_Turnover_Correction},#{hoses.Money_Total_Turnover_Correction},
			#{hoses.Volume_Total2_Turnover_Correction},#{hoses.Volume_Total_State_ID},#{hoses.Money_Total_State_ID},#{hoses.Volume_Total2_State_ID},
			#{hoses.Deleted},#{hoses.Volume_Total1},#{hoses.Money_Total1})
		</foreach>
  	</insert>
</mapper>