<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.PeriodsDao">
  	<insert id="insert" parameterType="List">
  		
			insert into periods(period_id,period_create_ts,period_type,period_close_dt,
			period_state,period_name,period_number,tank_dips_entered,tank_drops_entered,
			pump_meter_entered,exported,export_required,wetstock_out_of_variance,wetstock_approval_id,business_date)
			
			values
		<foreach collection="list" item="periods" index="i"  separator=","   >
			(#{periods.periodId},#{periods.periodCreateTs},#{periods.periodType},#{periods.periodCloseDt},
			#{periods.periodState},#{periods.periodName},#{periods.periodNumber},#{periods.tankDipsEntered},
			#{periods.tankDropsEntered},#{periods.pumpMeterEntered},#{periods.exported},#{periods.exportRequired},
			#{periods.wetstockOutOfVariance},#{periods.wetstockApprovalId},#{periods.businessDate})
		</foreach>
  	</insert>
</mapper>
