<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.TaxHistoryDao">
  	<insert id="insert" parameterType="List">
  		
			insert into tax_history(period_id,tax_id,tax_tot_value)
			values
		<foreach collection="list" item="taxHistory" index="i" separator="," >
			(#{taxHistory.periodId},#{taxHistory.taxId},#{taxHistory.taxTotValue})
		</foreach>
  	</insert>
</mapper>
