<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.TblAccountDao">
  	<insert id="insert" parameterType="List">
  		
			replace into TBL_ACCOUNT(ACCOUNT_ID,VERSION,LASTCARDTIME,EXPIREDDATE,
			LASTRECORDTIME,ACCOUNT_STATUS,PREVIOUSONLINENO,LOWLIMIT,FROZENPOINTS,
			MAC,ACCOUNTTYPE,LASTTXID,LASTTXSTATUS,BALANCE,NUM,POINTSUSED,ISSUER_ID,
			CARDUSER_ID,LASTONLINENO,ACCUMULATIVEPOINTS,CARD_ID,TOTALLOSTAMOUNT)
			values
			
			<foreach collection="list" item="tblAccount" index="i"  separator=",">
			(#{tblAccount.accountId},#{tblAccount.version},#{tblAccount.lastcardTime},#{tblAccount.expireddate},
			
			#{tblAccount.lastrecordtime},#{tblAccount.accountStatus},#{tblAccount.previousonlineno},#{tblAccount.lowlimit},
			
			#{tblAccount.frozenpoints},#{tblAccount.mac},#{tblAccount.accounttype},#{tblAccount.lasttxid},
			
			#{tblAccount.lasttxstatus},#{tblAccount.balance},#{tblAccount.num},#{tblAccount.pointsused},
			
			#{tblAccount.issuerId},#{tblAccount.carduserId},#{tblAccount.lastonlineno},#{tblAccount.accumulativepoints},
			
			#{tblAccount.cardId},#{tblAccount.totallostamount})
		</foreach>
  	</insert>
</mapper>
