<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.TblCarduserDao">
  	<insert id="insert" parameterType="List">
  		<foreach collection="list" item="tblCarduser" index="i" open="Begin" separator=";"  close=";End;"   >
			insert into TBL_CARDUSER(CARDUSER_ID,VERSION,FREEZEREASON,P6,P5,ORGUSER_ID,P4,
			ISCUMULATEPOINTS,P3,LOCATION_ID,P2,ANONYMOUSBALANCE,P1,CARDUSER_TYPE,CUSTOMER_ID,
			FOREGIFTAMOUNT,OPER_ID,BUILDFILESTATION_ID,CONTRACTTYPE,CARDVALUE,ISSELLSTATUS,
			ISOILLIMIT,DEPT_ID,CARLICENSE,AMOUNTLIMIT,TIMELIMIT,CARDUSER_STATUS,INVOICE_TYPE,
			PARENT_ID,RECORDTIME,CARDTYPE_ID,USEPIN,CONTRACTEXPIREDDATE,CURRENTASN,MULTILEVEL,
			OILLIMIT,CARDPIN,IDNO,CANLOADPOINT,CANTEDITLIMITS,LASTINVOICETIME,INVOICEAMOUNT,
			CUSTOMER_LEVEL,FREQUENCY,UNIQUEID,ISTOPUP,CAR_TYPE,QUANTITYLIMIT,MOBILECARTYPE,
			NAME,INTERNAL,CLEAR_METHOD,COMPANYCUSTOMER_ID,MERCHANDISELIMIT,ISMERLIMIT,STATIONLIMIT,
			QUANTITYNUMBER,CARSERIES_ID,PINTRYTIMES,ISUPDATECLIENTINFO,CARD_ID,CARMODEL_ID,
			ISMASTERCARD,NOTES,RECNUM,CRSTATE,OPFSTATE,OSASTATE)
			
			values(#{tblCarduser.carduserId},#{tblCarduser.version},#{tblCarduser.freezereason},#{tblCarduser.p6},
			
			#{tblCarduser.p5},#{tblCarduser.orguserId},#{tblCarduser.p4},#{tblCarduser.iscumulatepoints},
			
			#{tblCarduser.p3},#{tblCarduser.locationId},#{tblCarduser.p2},#{tblCarduser.anonymousbanlance},
			
			#{tblCarduser.p1},#{tblCarduser.carduserType},#{tblCarduser.customerId},#{tblCarduser.foregiftamount},
			
			#{tblCarduser.operId},#{tblCarduser.buildfilestationId},#{tblCarduser.contracttype},#{tblCarduser.cardvalue},
			
			#{tblCarduser.issellstatus},#{tblCarduser.isoillimit},#{tblCarduser.deptId},#{tblCarduser.carlicense},
			
			#{tblCarduser.amountlimit},#{tblCarduser.timelimit},#{tblCarduser.carduserStatus},#{tblCarduser.invoiceType},
			
			#{tblCarduser.parentId},#{tblCarduser.recordTime},#{tblCarduser.cardtypeId},#{tblCarduser.usepin},
			
			#{tblCarduser.contractexpireddate},#{tblCarduser.currentasn},#{tblCarduser.multilevel},#{tblCarduser.oillimit},
			
			#{tblCarduser.cardpin},#{tblCarduser.idno},#{tblCarduser.canloadpoint},#{tblCarduser.cantedilimits},
			
			#{tblCarduser.lastinvoiceTime},#{tblCarduser.invoiceamount},#{tblCarduser.customerLevel},#{tblCarduser.frequency},
			
			#{tblCarduser.uniqueid},#{tblCarduser.istopup},#{tblCarduser.carType},#{tblCarduser.quantitylimit},
			
			#{tblCarduser.mobilecartype},#{tblCarduser.name},#{tblCarduser.internal},#{tblCarduser.clearMethod},
			
			#{tblCarduser.companycustomerId},#{tblCarduser.merchandiselimit},#{tblCarduser.ismerlimit},#{tblCarduser.stationlimit},
			
			#{tblCarduser.quantitynumber},#{tblCarduser.carseriesId},#{tblCarduser.pintrytimes},#{tblCarduser.isupdateclientinfo},
			
			#{tblCarduser.cardId},#{tblCarduser.carmodelId},#{tblCarduser.ismastercard},#{tblCarduser.notes},
			
			#{tblCarduser.recnum},#{tblCarduser.crstate},#{tblCarduser.opfstate},#{tblCarduser.osastate})
		</foreach>
  	</insert>
</mapper>
