<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.TblMyfavoriteDao">
  	<insert id="insert" parameterType="List">
  		
			replace into TBL_MYFAVORITE(MYFAVORITE_ID,VERSION,ORGID,CUSID)
			
			values
			<foreach collection="list" item="tblMyfavorite" index="i"  separator=","    >
			(#{tblMyfavorite.myfavoriteId},#{tblMyfavorite.version},#{tblMyfavorite.orgid},#{tblMyfavorite.cusid})
		</foreach>
  	</insert>
</mapper>
