<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.TblOrderdetailsDao">
  	<insert id="insert" parameterType="List">
  		
			replace into TBL_ORDERDETAILS(ORDERDETAILS_ID,VERSION,NOWDATE,VIRTUALGOODSID,RETURNCODE,
			LITRE,STATIONCODE,COUPONAMOUNT,REQUESTID,ORDERNUM,REALAMOUNT,OILCODE,ORDER_DEAL,
			DISCOUNTAMOUNT,CARDUSERID,AMOUNT,OILPRICE,TERMNUM,SENDTIME,INVOICETITLE,
			MEMBERNO,VIRTUALGOODSIDS,CUSTOMER_ID)
			
			values
			<foreach collection="list" item="tblOrderdetails" index="i"  separator=","   >
			(#{tblOrderdetails.orderdetailsId},#{tblOrderdetails.version},#{tblOrderdetails.nowdate},
			
			#{tblOrderdetails.virtualgoodsid},#{tblOrderdetails.returncode},#{tblOrderdetails.litre},
			
			#{tblOrderdetails.stationcode},#{tblOrderdetails.couponamount},#{tblOrderdetails.requestId},
			
			#{tblOrderdetails.ordernum},#{tblOrderdetails.realamount},#{tblOrderdetails.oilcode},
			
			#{tblOrderdetails.orderDeal},#{tblOrderdetails.discountamount},#{tblOrderdetails.carduserid},
			
			#{tblOrderdetails.amount},#{tblOrderdetails.oilprice},#{tblOrderdetails.termnum},
			
			#{tblOrderdetails.sendtime},#{tblOrderdetails.invoicetitle},#{tblOrderdetails.memberno},
			
			#{tblOrderdetails.virtualgoodsids},#{tblOrderdetails.customerId})
		</foreach>
  	</insert>
</mapper>
