<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.TblOrganizationDao">
  	<insert id="insert" parameterType="List">
  		
			replace into TBL_ORGANIZATION(ID,VERSION,P400,ORGTYPE,PHONE,OLDUNIQUEID,POSY,POSX,P1,ORG_STATUS,ISDEPOSIT,P500,
			REGISTERTIME,UNIQUEID,CITY_ID,ISAGENT,P700,DESCRIPTION,ISSTATION,NAME,ORGSEQUENCE,PROVINCE,
			P600,ISSETTLE,P300,INVALIDTIME,ORG_ENABLE,STATUS,ISGIFTLOCATION,STAR,LOGOURL,P200,ABBREVIATION,PHOTO_ID,REGIONTYPE,COUNTRY,
			ISMERCHANT,EMAIL,ADDRESS,CARDUNIQUE,FULLNAME,ISACQUIRER,ISSHARE,ISISSUER,ORG_LEVEL)
			values
			<foreach collection="list" item="tblOrganization" index="i"  separator="," >
			(#{tblOrganization.id},#{tblOrganization.version},#{tblOrganization.p400},#{tblOrganization.orgtype},
			#{tblOrganization.phone},#{tblOrganization.olduniqueid},#{tblOrganization.posy},#{tblOrganization.posx},
			#{tblOrganization.p1},#{tblOrganization.org_status},#{tblOrganization.isdeposit},#{tblOrganization.p500},
			
			#{tblOrganization.registertime},#{tblOrganization.uniqueid},#{tblOrganization.city_id},#{tblOrganization.isagent},
			#{tblOrganization.p700},#{tblOrganization.description},#{tblOrganization.isstation},#{tblOrganization.name},
			#{tblOrganization.orgsequence},#{tblOrganization.province},#{tblOrganization.p600},#{tblOrganization.issettle},
			
			#{tblOrganization.p300},#{tblOrganization.invalidtime},#{tblOrganization.org_enable},#{tblOrganization.status},
			#{tblOrganization.isgiftlocation},#{tblOrganization.star},#{tblOrganization.logourl},#{tblOrganization.p200},
			
			#{tblOrganization.abbreviation},#{tblOrganization.photo_id},#{tblOrganization.regiontype},#{tblOrganization.country},
			#{tblOrganization.ismerchant},#{tblOrganization.email},#{tblOrganization.address},#{tblOrganization.cardunique},
			#{tblOrganization.fullname},#{tblOrganization.isacquirer},#{tblOrganization.isshare},#{tblOrganization.isissuer},#{tblOrganization.org_level})
		</foreach>
  	</insert>
</mapper>
