<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.TblOperatorDao">
  	<insert id="insert" parameterType="List">
  		
			insert into TBL_OPERATOR(ID,VERSION,BIRTHDAY,PHONE,CERTIFICATENO,PASSWORD,REGISTERTIME,UNIQUEID,CITY_ID,
			ORGANIZATION_ID,UKEY_ID,DESCRIPTION,NAME,PROVINCE,GENDER,LOCKORG_ID,LOGINNAME,PASSWORDBIRTHDAY,
			INVALIDTIME,ENABLE_STATUS,STATUS,PHOTO_ID,NATION,COUNTRY,EMAIL,ADDRESS,FULLNAME)
			values
			<foreach collection="list" item="tblOperator" index="i"  separator="," >
			(#{tblOperator.id},#{tblOperator.version},#{tblOperator.birthday},
			#{tblOperator.phone},#{tblOperator.certificateno},#{tblOperator.password},
			#{tblOperator.registertime},#{tblOperator.uniqueid},#{tblOperator.city_id},
			#{tblOperator.organization_id},#{tblOperator.ukey_id},#{tblOperator.description},
			#{tblOperator.name},#{tblOperator.province},#{tblOperator.gender},
			#{tblOperator.lockorg_id},#{tblOperator.loginname},#{tblOperator.passwordbirthday},
			#{tblOperator.invalidtime},#{tblOperator.enable_status},#{tblOperator.status},
			#{tblOperator.photo_id},#{tblOperator.nation},#{tblOperator.country},
			#{tblOperator.email},#{tblOperator.address},#{tblOperator.fullname})
		</foreach>
  	</insert>
</mapper>
