<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.TransactionsDao">
  	<insert id="insert" parameterType="List">
  		<foreach collection="list" item="transactions" index="i" open="Begin" separator=";"  close=";End;"   >
			insert into transactions(transaction_id,cashier_id,sub_account_id,
			pos_id,transaction_number,transaction_date,period_id,tax_total,
			sale_total,bir_receipt_type,bir_trans_number,refunded,Alt_Transaction_Number,
			cdraw_period_id,receipt_number,transaction_start_dt,award_total,redemption_total,
			refund_total,discount_total,refunded_date,is_refund,disc_as_mop_total,transaction_db_date)
			
			values(#{transactions.transactionId},#{transactions.cashierId},#{transactions.subAccountId},
			
			#{transactions.posId},#{transactions.transactionNumber},#{transactions.transactionDate},
			
			#{transactions.periodId},#{transactions.taxTotal},#{transactions.saleTotal},
			
			#{transactions.birReceiptType},#{transactions.birTransNumber},#{transactions.refunded},
			
			#{transactions.altTransactionNumber},#{transactions.cdrawPeriodId},#{transactions.receiptNumber},
			
			#{transactions.transactionStartDt},#{transactions.awardTotal},#{transactions.redemptionTotal},
			
			,#{transactions.refundTotal},#{transactions.discountTotal}
			
			#{transactions.refundedDate},#{transactions.isRefund},#{transactions.discAsMopTotal},
			
			#{transactions.transactionDbDate})
		</foreach>
  	</insert>
</mapper>
