<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.TransactionItemsCashboxDao">
  	<insert id="insert" parameterType="List">
			insert IGNORE into transaction_items_cashbox(transaction_id,item_number,item_type,tax_id,item_description,
			item_price,item_quantity,item_value,item_id,item_tax_amount,scitem,refunded,orig_trx_id,
			orig_item_num,department_id,item_ean,price_batch_id,group_item_type,group_parent_item_number,sub_item_number,
			currency_code,tax_rate,station_id,transaction_date)
			values
		<foreach collection="list" item="transactionItems" index="i" separator=","  >
			(#{transactionItems.transactionId},#{transactionItems.itemNumber},#{transactionItems.itemType},
			
			#{transactionItems.taxId},#{transactionItems.itemDescription},
			
			#{transactionItems.itemPrice},#{transactionItems.itemQuantity},#{transactionItems.itemValue},
			
			#{transactionItems.itemId},#{transactionItems.itemTaxAmount},#{transactionItems.scitem},
			
			#{transactionItems.refunded},#{transactionItems.origTrxId},#{transactionItems.origItemNum},
			
			#{transactionItems.departmentId},#{transactionItems.itemEan},#{transactionItems.priceBatchId},
			
			#{transactionItems.groupItemType},#{transactionItems.groupParentItemNumber},#{transactionItems.subItemNumber},
			
			#{transactionItems.currencyCode},#{transactionItems.taxRate},#{transactionItems.stationId},#{transactionItems.transaction_date})
		</foreach>
  	</insert>
</mapper>
