<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.TransactionPeriodDao">
  	<insert id="insert" parameterType="List">
  		
			insert into transaction_period(transaction_id,period_id,station_id)
			values
		<foreach collection="list" item="transactionPeriod" index="i"  separator=","   >
			(#{transactionPeriod.transactionId},#{transactionPeriod.periodId},#{transactionPeriod.stationId})
		</foreach>
  	</insert>
</mapper>
