<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.UserDao">
	<insert id="insert" parameterType="list">
		<foreach collection="list" item="user" index="i" open="Begin" separator=";"  close=";End;"   >
			insert into user values(#{user.id},#{user.name})
		</foreach>
	</insert>
</mapper>