<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.WetstockApprovalDao">
  	<insert id="insert" parameterType="List">
  		
			insert into WetStock_Approval(WetStock_Approval_ID,DateTime,Approving_Name,Approving_ID)
			values
			<foreach collection="list" item="wetstockApproval" index="i"  separator="," >
			(#{wetstockApproval.wetstock_approval_id},#{wetstockApproval.datetime},#{wetstockApproval.approving_name},#{wetstockApproval.approving_id})
		</foreach>
  	</insert>
</mapper>
