<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.DictVirtualGoodsStatusDao">
  	<select id="queryAll" parameterType="Integer" resultType="DictVirtualGoodsStatus" >
  		select ID,TEXT,ENGLISH,ICONURL
  		 	from CDSHELL.DICT_VIRTUAL_GOODS_STATUS where ID > #{id}
  	</select>
  	<select id="queryMaxId" resultType="Integer">
  		select max(ID) from CDSHELL.DICT_VIRTUAL_GOODS_STATUS
  	</select>
</mapper>
