<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.TblShoppingcartDao">
		<select id="queryAll" parameterType="long" resultType="TblShoppingcart"> 
			select ID as shoppingcartId,VERSION,CREATETIME,RULESET_ID as rulesetId,
			
			CARDUSER_ID as carduserId,INTEGRATION,CUSTOMER_LEVEL as customerLevel,GOODSNUM,VIRTUAL_GOODS_TYPE as virtualGoodsType from CDSHELL.TBL_SHOPPINGCART
			
			where ID>#{id}
		</select>	
		
		
		<select id="queryMaxId" resultType="long">
  		select max(ID) from CDSHELL.TBL_SHOPPINGCART
  	</select>
</mapper>
