<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd 
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx.xsd 
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd">

  
    <bean id="50017" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50017.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50011" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50011.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50013" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50013.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50014" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50014.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50016" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50016.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50018" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50018.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50019" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50019.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50024" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50024.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50020" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50020.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50021" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50021.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50012" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50012.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="80001" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${80001.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="58003" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${58003.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="58001" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${58001.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="58002" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${58002.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="58004" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${58004.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="58005" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${58005.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="58006" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${58006.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="58007" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${58007.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="58010" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${58010.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="58012" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${58012.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="58015" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${58015.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50006" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50006.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50001" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50001.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50005" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50005.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50004" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50004.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50008" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50008.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50010" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50010.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50015" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50015.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50025" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50025.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50009" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50009.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50002" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50002.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50022" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50022.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50003" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50003.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="50007" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${50007.jdbc.url}"></property>
	     <property name="driverClassName" value="${jdbc.driver}"></property>
	     <property name="username" value="${jdbc.username}"></property>
	     <property name="password" value="${jdbc.password}"></property>
    </bean>
</beans>