<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.DictGoodsRuleTypeDao">
  	<select id="queryAll" parameterType="Integer" resultType="DictGoodsRuleType" >
  		select ID,TEXT,ENGLISH,ICONURL
  		 	from DICT_GOODS_RULE_TYPE where ID > #{id}
  	</select>
  	<select id="queryMaxId" resultType="Integer">
  		select max(ID) from DICT_GOODS_RULE_TYPE
  	</select>
</mapper>
