<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.DictTradeTypeDao">
  	<select id="queryAll" parameterType="Integer" resultType="DictTradeType" >
  		select ID,TEXT,ENGLISH,ICONURL
  		 	from BJSHELL.DICT_TRADE_TYPE where ID > #{id}
  	</select>
  	<select id="queryMaxId" resultType="Integer">
  		select max(ID) from BJSHELL.DICT_TRADE_TYPE
  	</select>
</mapper>
