<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.TblShopgoodsdetailsDao">
		<select id="queryAll" parameterType="long" resultType="TblShopgoodsdetails">
			select ID as shopgoodsdetailsId,VERSION,MEMBER,AMOUNT,
			RECEIVEDATE,ORDER_ID as orderdetailsId,REMARK,TOTALAMOUNT,ORDERNUM,UNITPRICE,QUANTITY,
			CODE,DISCOUNT from  BJSHELL.TBL_SHOPGOODSDETAILS where ID >=#{min} and ID&lt;#{max}
			
		</select>	
		
		<!-- <select id="queryAll"  resultType="TblShopgoodsdetails">
			select ID as shopgoodsdetailsId,VERSION,MEMBER,AMOUNT,
			RECEIVEDATE,ORDER_ID as orderdetailsId,REMARK,TOTALAMOUNT,ORDERNUM,UNITPRICE,QUANTITY,
			CODE,DISCOUNT from (
				select tt.*,ROWNUM as rn from (
				select * from BJSHELL.TBL_SHOPGOODSDETAILS  order by id) tt )
					where rn>=#{min} and rn &lt; #{max}
		</select> -->
		
		<select id="queryMaxId" resultType="long">
	  		select max(ID) from BJSHELL.TBL_SHOPGOODSDETAILS
	  	</select>
	  	<select id="queryMinId" resultType="long">
	  		select min(ID) from BJSHELL.TBL_SHOPGOODSDETAILS
	  	</select>
</mapper>
