<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yb.dao.GradesDao">
  	<insert id="insert" parameterType="List">
			replace into Grades(Grade_ID,Grade_Name,Grade_Number,Price_Profile_ID,Grade_Description,Allocation_Limit,
			Alloc_Limit_Type,Oil_Company_Code,Tax_Link,Group_Link,Delivery_Timeout,Price_Pole_Segment,
			Grade_Type,Grade1_ID,Grade2_ID,Blend_Ratio,Min_Price,Max_Price,Loss_Tolerance,Gain_Tolerance,Is_Enabled,
			deleted,Volume_Unit_ID,GSAPExport,station_id)
			values
			<foreach collection="list" item="grades" index="i"  separator="," >
			(#{grades.grade_ID},#{grades.grade_Name},#{grades.grade_Number},#{grades.price_Profile_ID},
			#{grades.grade_Description},#{grades.allocation_Limit},#{grades.alloc_Limit_Type},#{grades.oil_Company_Code},
			#{grades.tax_Link},#{grades.group_Link},#{grades.delivery_Timeout},#{grades.price_Pole_Segment},
			#{grades.grade_Type},#{grades.grade1_ID},#{grades.grade2_ID},#{grades.blend_Ratio},
			#{grades.min_Price},#{grades.max_Price},#{grades.loss_Tolerance},#{grades.gain_Tolerance},
			#{grades.is_Enabled},#{grades.deleted},#{grades.volume_Unit_ID},#{grades.gsapExport},#{grades.stationId})
		</foreach>
  	</insert>
</mapper>